<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TB</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="logo">
                <h1>
                    <a href="/"><span>TB</span>Tech-Blog</a>
                </h1>
            </div>

            <nav>
                <a href="/">Home</a>
                {{#if loggedIn}}
                <a href="/dashboard">Dashboard</a>
                <button id="logout" class="btn-no-style">Log Out</button>
                {{else}}
                <a href="/login" id="login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            <div>TB</div>
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>