<form class="signup-form">
    <div class="logo">

        <a href="/"><span>TB</span></a>

    </div>
    <h2>Sign up</h2>
    <hr>
    <div>
        <label for="username-signup">Username</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div class="form-button">
        <button type="submit">Sign up</button>
    </div>
    <div class="form-link">
        <a href="/login">Sign in ?</a>
    </div>
</form>

<script src="/javascript/signup.js"></script>